@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div style="padding-top: 200px">
        You will see me everywhere.
        <ul><li>@Html.ActionLink("About", "About", "Home")</li></ul>
    </div>
</body>
</html>
